---
/**
 * * These are larger cards with icons, titles, and text
 * Recommend using minimum 3 cards in a row, although this should work for any number of cards
 * These smaller cards work great if there are a large amount of services to advertise
 *
 * ! If you can an error for an icon like "Error: Not Found: "calendar-check" in pack "tabler",
 * ! You can copy to actual SVG into src/icons, name it whatever, and use similar to below example "tabler/calendar-check"
 */

import { getLocaleFromUrl } from "@/utils/localeUtils";
import { getLocalizedRoute, getTranslatedData } from "@/utils/translationUtils.ts";
import { splitTitleWithIcon } from "@utils/textUtils.ts";
import type { ServicesIconSectionData } from "@config/configDataTypes.ts";

const currLocale = getLocaleFromUrl(Astro.url);
const data = getTranslatedData("servicesIconSectionData", currLocale);

type Props = Partial<ServicesIconSectionData>;

const { title = data.title, services = data.services } = Astro.props;

const { leadingText, highlightedWord, trailingText, hasHighlightedWord } =
  splitTitleWithIcon(title);

// components
import ServiceCardIcon from "@components/ServiceCard/ServiceCardIcon.astro";
// import FeatureCard from "@components/FeatureCard/FeatureCardTest.astro";
---

<section id="services-icon" class="bg-base-200/50 my-12 py-20 md:my-24">
  <div class="site-container">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="h2">
        {leadingText}
        {hasHighlightedWord && <span class="text-primary-600">{highlightedWord}</span>}
        {trailingText}
      </h2>
    </div>
    <div class="mt-10 grid gap-4 sm:grid-cols-2 md:grid-cols-3" id="services-icon-cards">
      {
        services.map((feature, idx) => (
          <ServiceCardIcon
            title={feature.title}
            description={feature.description}
            icon={feature.icon}
            ctaButton={feature.ctaButton}
            idx={idx}
            data-mos="fade-up"
            data-mos-delay={0.15 * idx}
            data-mos-anchor="#services-icon-cards"
          />
        ))
      }
    </div>
  </div>
</section>
