---
/**
 * * These are alternating side cards with titles, text, and images
 * Recommend using 2 or 3 cards in a row
 */
import { Icon } from "astro-icon/components";

// components
import ServiceCard from "@components/ServiceCard/ServiceCardSideImage.astro";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";
import { getLocalizedRoute, getTranslatedData } from "@js/translationUtils.ts";
import { splitTitleWithIcon } from "@js/textWithHighlight.ts";
import { useTranslations } from "@js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const servicesSideImageData = getTranslatedData("servicesSideImageData", currLocale);

const { leadingText, highlightedWord, trailingText, hasIcon } = splitTitleWithIcon(
  servicesSideImageData.title,
);

---

<section id="services-side-image" class="overflow-hidden py-12">
  <div class="site-container">
    <div class="mx-auto flex max-w-2xl justify-center text-center">
      <h2 class="h2 relative z-20 mx-4">
        <div class="absolute top-0 left-0 hidden md:block">
          <Icon
            name="stellar/freehand-arrow-curl"
            class="text-primary-500 h-auto w-24 -translate-x-24 translate-y-12 -scale-x-100 -rotate-[45deg]"
            aria-hidden="true"
          />
        </div>
        {leadingText} <span class="text-primary-600">{highlightedWord}</span> {trailingText}
      </h2>
    </div>
    <div class="mt-10 flex flex-col gap-16 md:mt-16 md:gap-24">
      {
        servicesSideImageData.items.map((feature, idx) => (
          <ServiceCard
            title={feature.title}
            details={feature.details}
            image={feature.image}
            imageAlt={feature.imageAlt}
            imageSide={idx % 2 === 0 ? "right" : "left"}
            href={feature.href}
            idx={idx}
          />
        ))
      }
    </div>
  </div>
</section>
