---
/**
 * * FAQ section columns (not accordions)
 */
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";

// components
import FaqCard from "./FaqCard.astro";

// utils
import { getLocaleFromUrl } from "@/utils/localeUtils";

interface Props {
  faqSet: string; // slug, e.g. "algemeen" or "general"
}

const { faqSet } = Astro.props;
const locale = getLocaleFromUrl(Astro.url);

const faqEntries = await getCollection("faqs");
const entry = faqEntries.find((e) => e.id === `${locale}/${faqSet}`);
if (!entry) return;

const { title, faqs } = entry.data;

// array of columns for faq data
const faqCols: (typeof faqs)[] = [];
let faqsPerCol = Math.floor(faqs.length / 2);
let remainder = faqs.length % 2;

// this assumes more than 2 items for FAQ...
if (remainder === 0) {
  // even split
  faqCols[0] = faqs.slice(0, faqsPerCol);
  faqCols[1] = faqs.slice(faqsPerCol, 2 * faqsPerCol);
} else if (remainder === 1) {
  // extra goes to first column
  faqCols[0] = faqs.slice(0, faqsPerCol + 1);
  faqCols[1] = faqs.slice(faqsPerCol + 1, 2 * faqsPerCol + 1);
} else {
  console.error("Something went wrong with the FAQ data in FaqCardsSection.astro");
}
---

<section id="faq2" class="site-container my-24 md:my-36">
  <h2 class="h2 mt-8 text-center">
    {title}
  </h2>
  <div class="mx-auto mt-16 grid gap-10 md:grid-cols-2">
    {
      faqCols.map((faqCol) => (
        <div class="flex w-full flex-col gap-10">
          {faqCol.map(({ question, answer }) => (
            <FaqCard question={question} answer={answer} />
          ))}
        </div>
      ))
    }
  </div>
</section>
