---
/**
 * * FAQ section columns (not accordions)
 */
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";

// components
import FaqCard from "./FaqCard.astro";

// utils
import { getLocaleFromUrl } from "@/utils/localeUtils";
import { splitTitleWithIcon } from "@utils/textUtils.ts";

interface Props {
  faqSet: string; // slug, e.g. "algemeen" or "general"
}

const { faqSet } = Astro.props;
const locale = getLocaleFromUrl(Astro.url);

const faqEntries = await getCollection("faqs");
const entry = faqEntries.find((e) => e.id === `${locale}/${faqSet}`);
if (!entry) return;

const { title, faqs } = entry.data;

const mid = Math.ceil(faqs.length / 2);
const faqCols = [faqs.slice(0, mid), faqs.slice(mid)];

const { leadingText, highlightedWord, trailingText, hasHighlightedWord } =
  splitTitleWithIcon(title);
---

<section id="faq2" class="site-container my-24 md:my-36">
  <h2 class="h2 mt-8 text-center">
    {leadingText}
    {
      hasHighlightedWord && (
        <span class="relative whitespace-nowrap">
          {highlightedWord}
          <span>
            <Icon
              name="stellar/freehand-zig-underline"
              class="text-primary-500 absolute top-2 left-0 -z-10 h-full w-full translate-y-1/2"
              aria-hidden="true"
            />
          </span>
        </span>
      )
    }
    {trailingText ?? null}
  </h2>
  <div class="mx-auto mt-16 grid gap-10 md:grid-cols-2">
    {
      faqCols.map((faqCol) => (
        <div class="flex w-full flex-col gap-10">
          {faqCol.map(({ question, answer }) => (
            <FaqCard question={question} answer={answer} />
          ))}
        </div>
      ))
    }
  </div>
</section>
