---
/**
 * * HeroCenteredSection with background image
 */
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import Button from "@components/Button/Button.astro";
import { getLocaleFromUrl } from "@/utils/localeUtils";
import { splitTitleWithIcon } from "@utils/textUtils.ts";

interface Props {
  heroSet?: string;
}

const { heroSet = "home" } = Astro.props;
const locale = getLocaleFromUrl(Astro.url);

const heroBgEntries = await getCollection("heroBg");
const entry = heroBgEntries.find((e) => e.id === `${locale}/${heroSet}`);
if (!entry) return;

const {
  title,
  description,
  ctaButton1Text,
  ctaButton1Href,
  ctaButton2Text,
  ctaButton2Href,
  image,
  imageAlt,
} = entry.data;
const { leadingText, highlightedWord, trailingText, hasHighlightedWord } =
  splitTitleWithIcon(title);
---

<section id="hero" class="relative mb-14 flex min-h-svh w-full md:pb-22">
  <!-- background image -->
  <div class="absolute -z-20 h-full w-full overflow-hidden">
    <Image
      src={image}
      class="h-full w-full object-cover"
      alt={imageAlt}
      aria-hidden="true"
      loading="eager"
      height={2000}
    />
  </div>

  <!-- gradient filter so text has even light bg -->
  <div
    class="absolute -z-10 h-full w-full bg-gradient-to-r from-white/90 via-white/50 to-white/50 md:to-transparent"
  >
  </div>

  <!-- hero items -->
  <div class="site-container w-full gap-10 pt-36 pb-24 md:pt-44 md:pb-36">
    <div class="mr-auto max-w-[450px]">
      <h1
        class="text-4xl leading-tight font-medium sm:text-5xl md:leading-tight"
        data-mos="fade-up"
      >
        {leadingText}
        {
          hasHighlightedWord ? (
            <span class="relative whitespace-nowrap">
              {highlightedWord}
              <span>
                <Icon
                  name="stellar/freehand-zig-underline"
                  class="text-primary-300 absolute top-0 left-0 -z-10 h-full w-full translate-y-1/2"
                  aria-hidden="true"
                />
              </span>
            </span>
          ) : null
        }
        {trailingText ?? null}
      </h1>
      {
        description && (
          <p class="description mt-6" data-mos="fade-up" data-mos-delay=".2">
            {description}
          </p>
        )
      }
      <div class="mt-6 flex flex-wrap gap-4">
        <Button variant="primary" href={ctaButton1Href} data-mos="fade-up" data-mos-delay=".9">
          {ctaButton1Text}
        </Button>
        {
          ctaButton2Text && ctaButton2Href && (
            <Button variant="outline" href={ctaButton2Href} data-mos="fade-up" data-mos-delay="1.1">
              {ctaButton2Text}
            </Button>
          )
        }
      </div>
    </div>
  </div>
</section>
