---
import { formatDate } from "@/utils/textUtils";
import { getLocaleFromUrl } from "@/utils/localeUtils";
import SanityImage from "@components/SanityImage/SanityImage.astro";
import type { GetAllBlogPostsQueryResult } from "../../../sanity.types";

type Post = GetAllBlogPostsQueryResult[0];

interface Props {
  post: Post;
  showDescription?: boolean;
  class?: string;
  [key: string]: any;
}

const { post, showDescription = false, class: className, ...rest } = Astro.props as Props;
const { title, description, categories, authors, pubDate, heroImage } = post;

const currLocale = getLocaleFromUrl(Astro.url);
---

<article class={`flex grid gap-4 md:grid-cols-2 md:gap-8 ${className ?? ""}`} {...rest}>
  <a href={post.urlPath} class="shrink-0 justify-center overflow-hidden rounded-lg sm:justify-normal">
    {
      heroImage?.asset && (
        <figure>
          <SanityImage
            image={heroImage}
            sizesType="half"
            class="h-auto max-h-96 w-full rounded-lg object-cover transition-all duration-500 hover:scale-[1.02]"
          />
        </figure>
      )
    }
  </a>
  <div class="flex w-full flex-col gap-2 md:gap-4">
    <!-- categories -->
    {
      categories && (
        <div class="flex flex-wrap gap-4 md:mt-1">
          {categories.map((cat) => (
            <a href={cat.urlPath} class="button button--ghost px-2 py-0.5 font-medium md:px-4 md:py-1">
              {cat.title}
            </a>
          ))}
        </div>
      )
    }

    <!-- title -->
    <div>
      <a
        href={post.urlPath}
        class="hover:border-primary-500 border-b-2 border-transparent transition duration-300"
      >
        <h2 class="inline text-lg font-medium md:text-2xl lg:text-3xl">
          {title}
        </h2>
      </a>
    </div>

    {
      showDescription && description && (
        <p class="description hidden text-sm md:block lg:text-base">{description}</p>
      )
    }

    <div class="flex flex-wrap gap-1 text-sm opacity-80">
      {pubDate && <p class="whitespace-nowrap">{formatDate(new Date(pubDate), currLocale)}</p>}
      {pubDate && authors?.[0] && <span>&bull;</span>}
      {authors?.[0] && <p class="whitespace-nowrap">{authors[0].name}</p>}
    </div>
  </div>
</article>
