---
/**
 * * These are alternating side cards with titles, text, and images
 * Recommend using 2 or 3 cards in a row
 */
import { Icon } from "astro-icon/components";
import FeatureCard from "@components/FeatureCard/FeatureCardSideImage.astro";
import { getLocaleFromUrl } from "@utils/localeUtils.ts";
import { getCollection } from "astro:content";

interface Props {
  featureSet?: string;
}

const { featureSet = "home" } = Astro.props;
const locale = getLocaleFromUrl(Astro.url);

const entries = await getCollection("featureSideImage");
const entry = entries.find((e) => e.id === `${locale}/${featureSet}`);

// Component renders nothing if no entry found or items empty
if (!entry || !entry.data.items.length) return;

const { sectionTitle, items } = entry.data;
---

<section id="feature-side-image" class="my-12 overflow-hidden py-12">
  <div class="site-container">
    <div class="mx-auto flex max-w-2xl justify-center text-center">
      <h2 class="h2 text-center">
        {sectionTitle}
      </h2>
    </div>
    <div class="mt-10 flex flex-col gap-16 md:mt-16 md:gap-24">
      {
        items
          .filter((item) => item.image)
          .map((item, idx) => (
            <FeatureCard
              title={item.title}
              items={item.checkItems}
              image={item.image!}
              imageSide={idx % 2 === 0 ? "right" : "left"}
              href={item.href ?? "#"}
              idx={idx}
            />
          ))
      }
    </div>
  </div>
</section>
