---
/**
 * * These are small cards with icons, titles, and text. With title first
 * This looks best with an even number of cards. They are smaller to
 * use with more cards in the same section. 4 or 6 cards is probably ideal
 *
 * ! If you can an error for an icon like "Error: Not Found: "calendar-check" in pack "tabler",
 * ! You can copy to actual SVG into src/icons and name it however and use similar to below
 */

import { Icon } from "astro-icon/components";

// components
import FeatureCard from "@components/FeatureCard/FeatureCardSmall.astro";
import { splitTitleWithIcon } from "@js/textWithHighlight.ts";

interface FeatureData {
  icon: string;
  title: string;
  text: string;
}

interface Props {
  title: string;
  featureDataList: FeatureData[];
}

const { title, featureDataList } = Astro.props;

const { leadingText, highlightedWord, trailingText, hasIcon } = splitTitleWithIcon(title);
---

<section id="feature-cards-small" class="py-12 md:my-12">
  <div class="site-container relative">
    <div class="mx-auto mb-10 flex max-w-lg justify-center">
      <h2 class="h2 text-center">
        {leadingText}
        {
          hasIcon ? (
            <span class="relative whitespace-nowrap">
              {highlightedWord}
              <Icon
                name="stellar/freehand-circle-multi-loop"
                class="text-primary-200 absolute inset-0 -z-10 w-full translate-y-1 scale-x-350 scale-y-150"
                aria-hidden="true"
              />
            </span>
          ) : null
        }

        {trailingText ?? null}
      </h2>
    </div>
    <div id="trigger-small-cards" class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
      {
        featureDataList.map((feature, idx) => (
          <FeatureCard
            title={feature.title}
            text={feature.text}
            icon={feature.icon}
            data-mos="fade-up"
            data-mos-delay={0.15 * idx}
            data-mos-anchor="#trigger-small-cards"
          />
        ))
      }
    </div>
  </div>
</section>
