---
import { getCompanyInfo } from "@/utils/companyInfo";
import { getLocaleFromUrl } from "@/utils/localeUtils";
import { Icon } from "astro-icon/components";

const currLocale = getLocaleFromUrl(Astro.url);
const contactInformation = currLocale === "en" ? "Location & Contact" : "Contactgegevens";
const companyInfo = await getCompanyInfo(currLocale);
---

<div>
  <!-- contact info pulled from companyInfo -->
  <h3 class="mb-2 text-lg font-medium">{contactInformation}</h3>

  <p>
    <span class="inline-flex items-start gap-1">
      <Icon name="tabler/compass" aria-hidden="true" class="mt-1 h-4 w-4 shrink-0" />
      <span>
        <span class="block">{companyInfo?.street}</span>
        <span class="block">{companyInfo?.zipCode} {companyInfo?.city}</span>
      </span>
    </span>
  </p>

  <p>
    <span class="inline-flex items-center gap-1">
      <Icon name="tabler/phone" aria-hidden="true" class="h-4 w-4" />
      <a
        href={`tel:${companyInfo?.phone}`}
        class="hover:text-primary-500 transition hover:underline"
      >
        {companyInfo?.phone}
      </a>
    </span>
  </p>
  <p>
    <span class="inline-flex items-center gap-1">
      <Icon name="tabler/mail" aria-hidden="true" class="h-4 w-4" />
      <a
        href={`mailto:${companyInfo?.email}`}
        class="hover:text-primary-500 transition hover:underline">{companyInfo?.email}</a
      >
    </span>
  </p>
</div>
