---
import SiteLogo from "@components/SiteLogo/SiteLogo.astro";
import Button from "@components/Button/Button.astro";
import { useTranslation } from "@/utils/translationUtils";
import ContactInformationBlock from "@components/Contact/ContactInformationBlock.astro";
import SocialIcon from "@components/Social/SocialIcon.astro";

const {route, data, companyInfo} = useTranslation(Astro.url)
const { companyName, ctaButton} = data('footerData');

const socialLinks = companyInfo('social');
const today = new Date();
---

<footer class="site-container border-t-base-300 mt-20 mb-16 border-t">
  <div class="grid w-full justify-between gap-4 md:grid-cols-2">
    <div class="grid gap-4 sm:grid-cols-2">
      <div class="mt-6 flex flex-col items-start gap-4">
        <SiteLogo />
        <div class="">
          <Button variant="primary" href={route(ctaButton.href)}>{ctaButton.text}</Button>
        </div>
        <div class="hidden text-sm opacity-80 md:block">
          &copy; {today.getFullYear()}
          {" "}{companyName} ©
        </div>
      </div>
      <!-- Contact info -->
      <div class="flex flex-col">
        <ContactInformationBlock />
      </div>
    </div>

    <div class="flex items-center md:justify-end">
      <!-- Socials -->
      <div class="flex gap-2">
        <SocialIcon href={socialLinks.facebook.url} icon="tabler/facebook" social="Facebook" />
        <SocialIcon href={socialLinks.instagram.url} icon="tabler/instagram" social="Instagram" />
        <SocialIcon href={socialLinks.linkedin.url} icon="tabler/linkedin" social="LinkedIn" />
      </div>
    </div>
  </div>
  <div class="mt-6 text-sm opacity-80 md:hidden">
    &copy; {today.getFullYear()}
    {" "}{companyName} ©
  </div>
</footer>
