---
import FooterLink from "@components/Footer/FooterLink.astro";
import SiteLogo from "@components/SiteLogo/SiteLogo.astro";
import Button from "@components/Button/Button.astro";
import SocialIcon from "@components/Social/SocialIcon.astro";
import { getLocaleFromUrl } from "@/utils/localeUtils";
import { getTranslatedData, useTranslations } from "@/utils/translationUtils";
import ContactInformationBlock from "@components/Contact/ContactInformationBlock.astro";
import { SOCIAL_LINKS } from "@config/constants.ts";

const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);
const t = useTranslations(currLocale);

const today = new Date();
---

<footer class="site-container border-t-base-300 mt-20 mb-16 border-t">
  <div class="grid w-full justify-between gap-4 md:grid-cols-2">
    <div class="grid gap-4 sm:grid-cols-2">
      <div class="mt-6 flex flex-col items-start gap-4">
        <SiteLogo />
        <div class="">
          <Button variant="primary" href="/contact/">{t("get_quote_button_text_short")}</Button>
        </div>
        <div class="hidden text-sm opacity-80 md:block">
          &copy; {today.getFullYear()}
          {" "}{siteData.name} ©
        </div>
      </div>

      <!-- Contact info -->
      <div class="flex flex-col">
        <ContactInformationBlock />
      </div>
    </div>

    <div class="flex items-center md:justify-end">
      <!-- Socials -->
      <div class="flex gap-2">
        <SocialIcon href={SOCIAL_LINKS.facebook.url} icon="tabler/facebook" social="Facebook" />
        <SocialIcon href={SOCIAL_LINKS.instagram.url} icon="tabler/instagram" social="Instagram" />
        <SocialIcon href={SOCIAL_LINKS.linkedin.url} icon="tabler/linkedin" social="LinkedIn" />
      </div>
    </div>
  </div>
  <div class="mt-6 text-sm opacity-80 md:hidden">
    &copy; {today.getFullYear()}
    {" "}{siteData.name} ©
  </div>
</footer>
