---
import { getLocalizedRoute } from "@/utils/translationUtils";
import BaseLayout from "./BaseLayout.astro";
import Button from "@components/Button/Button.astro";
import { formatDate, humanize, slugify } from "@/utils/textUtils";
import { getLocaleFromUrl } from "@/utils/localeUtils";
import { useLabels } from "@/utils/labels";

interface SanityAuthor {
  name: string;
  avatar?: { asset?: { url: string }; alt?: string };
}

interface Props {
  post: {
    title: string;
    description?: string;
    slug: string;
    heroImage?: { asset?: { url: string }; alt?: string };
    pubDate?: string;
    authors?: SanityAuthor[];
    categories?: string[];
  };
}

const { post } = Astro.props as Props;
const { title, description, authors, categories, pubDate, heroImage } = post;

const currLocale = getLocaleFromUrl(Astro.url);
const t = await useLabels(currLocale);
---

<BaseLayout type="general" title={title} description={description}>
  <article class="site-container pt-36 md:pt-44">
    <div class="flex w-full flex-col items-center">
      <div class="mx-auto flex w-full max-w-[800px]">
        <div class="mx-auto text-center">
          <!-- Categories -->
          {categories && (
            <div class="flex justify-center gap-4">
              {categories.map((category) => (
                <a
                  href={getLocalizedRoute(currLocale, `/categories/${slugify(category)}/`)}
                  class="button button--ghost px-2 py-0.5 font-medium md:px-4 md:py-1"
                >
                  {humanize(category)}
                </a>
              ))}
            </div>
          )}

          <!-- title -->
          <h1 class="h1 mt-8">{title}</h1>

          <div class="mt-6 flex w-full flex-wrap justify-center gap-4">
            <!-- author info -->
            {authors?.map((author) => (
              <div class="mb-auto flex">
                {author.avatar?.asset?.url && (
                  <figure>
                    <img
                      src={author.avatar.asset.url}
                      alt={author.avatar.alt ?? `${author.name} avatar`}
                      width={28}
                      height={28}
                      class="h-7 w-7 rounded-full object-cover"
                    />
                  </figure>
                )}
                <div class="my-auto ml-2 opacity-80">{author.name}</div>
              </div>
            ))}

            {authors && authors.length > 0 && pubDate && <span>&bull;</span>}

            <!-- Date -->
            {pubDate && (
              <time class="my-auto h-full opacity-80" datetime={pubDate}>
                {formatDate(new Date(pubDate), currLocale)}
              </time>
            )}
          </div>
        </div>
      </div>

      <!-- blog post main image -->
      {heroImage?.asset?.url && (
        <div class="mt-6 max-w-[1000px] overflow-hidden">
          <img
            src={heroImage.asset.url}
            alt={heroImage.alt ?? `Cover for ${title}`}
            width={2000}
            class="max-h-[70vh] rounded-xl object-cover"
            loading="eager"
          />
        </div>
      )}
    </div>

    <!-- article content -->
    <div class="mt-10 w-full">
      <div class="mx-auto max-w-2xl">
        <div class="text-base-content text-base">
          <section id="blog-post-content" class="markdown-content mx-auto">
            <slot />
          </section>

          <div class="mt-16 flex justify-center">
            <Button
              variant="outline"
              href={getLocalizedRoute(currLocale, "/blog")}
              arrow="left"
              class="py-2"
            >
              {t("backToAllPosts")}
            </Button>
          </div>
        </div>
      </div>
    </div>
  </article>
</BaseLayout>