---
import BaseLayout from "./BaseLayout.astro";
import SanityImage from "@components/SanityImage/SanityImage.astro";
import BlockRenderer from "@components/BlockRenderer/BlockRenderer.astro";
import { buildOgImageUrl } from "@lib/sanityImage";
import type { GetDeliveryAreaBySlugQueryResult } from "../../sanity.types.ts";

type Item = NonNullable<GetDeliveryAreaBySlugQueryResult>;
interface Props {
  item: Item;
}

const { item } = Astro.props;
const { title, description, seo, heroImage, alternatePaths, blocks } = item;

const ogImageUrl = buildOgImageUrl(heroImage);
---

<BaseLayout
  title={title ?? ""}
  description=""
  seo={seo}
  ogImageUrl={ogImageUrl}
  alternatePaths={alternatePaths}
>
  <!-- Hero -->
  <section class="relative mb-10 flex w-full overflow-clip">
    <!-- Background blob -->
    <div class="absolute -z-10 h-full w-full">
      <svg
        class="text-primary-200/50 h-full w-full"
        viewBox="0 0 1800 1000"
        width="1800"
        height="1000"
        preserveAspectRatio="xMinYMin slice"
        xmlns="http://www.w3.org/2000/svg"
        style="stroke:currentColor;fill:currentColor;"
      >
        <g transform="translate(1800, 1000)">
          <path
            d="M-950 0C-920.9 -120.4 -891.9 -240.9 -843.5 -349.4C-795.1 -457.9 -727.4 -554.5 -647 -647C-566.6 -739.5 -473.5 -827.9 -363.5 -877.7C-253.6 -927.5 -126.8 -938.7 0 -950L0 0Z"
          ></path>
        </g>
        <g>
          <path
            d="M950 0C926.3 119.5 902.6 239 861.1 356.7C819.6 474.3 760.3 590.1 671.8 671.8C583.2 753.4 465.5 801 348.6 841.7C231.8 882.3 115.9 916.2 0 950L0 0Z"
          ></path>
        </g>
      </svg>
    </div>

    <div class="site-container grid items-start gap-8 pt-36 pb-10 md:grid-cols-2 md:pt-44 md:pb-22">
      <!-- Title -->
      <div class="mx-auto max-w-[450px] md:ml-0">
        <h1 class="text-4xl leading-tight font-medium lg:text-5xl lg:leading-tight">{title}</h1>
        {description && <p class="description mt-4">{description}</p>}
      </div>

      <!-- Hero image -->
      {
        heroImage?.asset && (
          <div class="mx-auto w-full max-w-md md:max-w-full">
            <SanityImage
              image={heroImage}
              aspectRatio="widescreen"
              sizesType="card"
              loading="eager"
              fetchpriority="high"
              class="rounded-xl object-cover shadow-md"
            />
          </div>
        )
      }
    </div>
  </section>

  <!-- Content -->
  <article class="site-container">
    <section id="delivery-area-content" class="markdown-content">
      <BlockRenderer blocks={blocks ?? []} />
    </section>
  </article>
</BaseLayout>
