---
import BaseLayout from "./BaseLayout.astro";
import SanityImage from "@components/SanityImage/SanityImage.astro";
import BlockRenderer from "@components/BlockRenderer/BlockRenderer.astro";
import { buildOgImageUrl } from "@lib/sanityImage";
import { Icon } from "astro-icon/components";
import type { GetServiceBySlugQueryResult } from "../../sanity.types.ts";

type Item = NonNullable<GetServiceBySlugQueryResult>;
interface Props {
  item: Item;
}

const { item } = Astro.props;
const { title, description, seo, heroImage, alternatePaths, blocks } = item;

const ogImageUrl = buildOgImageUrl(heroImage);
---

<BaseLayout
  title={title ?? ""}
  description=""
  seo={seo}
  ogImageUrl={ogImageUrl}
  alternatePaths={alternatePaths}
>
  <!-- service heading -->
  <section class="relative isolate overflow-hidden pt-24 pb-20 md:pt-36">
    <!-- bottom left blob -->
    <Icon
      name="stellar/blob-1"
      class="text-primary-200/50 absolute top-0 left-0 -z-10 h-[200%] w-[150%] -translate-x-[50%] rotate-12"
      aria-hidden="true"
    />
    <!-- top left blob -->
    <Icon
      name="stellar/blob-2"
      class="text-primary-400/50 absolute top-0 left-0 -z-10 h-[200%] w-[150%] -translate-x-[50%] -translate-y-[50%] rotate-12"
      aria-hidden="true"
    />
    <!-- bottom right blob -->
    <Icon
      name="stellar/blob-2"
      class="text-primary-400/50 absolute top-0 right-0 -z-10 h-[200%] w-[150%] translate-x-[50%]"
      aria-hidden="true"
    />

    <div class="relative z-10 flex flex-col items-center px-6 text-center">
      <h1 class="h1">{title}</h1>

      {
        heroImage?.asset && (
          <div class="mt-10 w-full max-w-[700px]">
            <div class="overflow-hidden">
              <SanityImage
                image={heroImage}
                sizesType="background"
                loading="eager"
                fetchpriority="high"
                aspectRatio="landschap"
                class="max-h-[45vh] w-full rounded-xl object-cover shadow-xl"
              />
            </div>
            {description && (
              <p class="mx-auto my-16 max-w-lg text-center text-xl font-light tracking-wider italic opacity-85">
                {description}
              </p>
            )}
          </div>
        )
      }
    </div>
  </section>

  <!-- service details -->
  <section class="py-8 md:py-16">
      <BlockRenderer blocks={blocks ?? []} />
  </section>
</BaseLayout>
