---
import BaseLayout from "./BaseLayout.astro";
import SanityImage from "@components/SanityImage/SanityImage.astro";
import BlockRenderer from "@components/BlockRenderer/BlockRenderer.astro";
import { buildOgImageUrl } from "@lib/sanityImage";
import type { GetServiceBySlugQueryResult } from "../../sanity.types.ts";

type Item = NonNullable<GetServiceBySlugQueryResult>;
interface Props {
  item: Item;
}

const { item } = Astro.props;
const { title, seo, heroImage, alternatePaths, blocks } = item;

const ogImageUrl = buildOgImageUrl(heroImage);
---

<BaseLayout
  title={title ?? ""}
  description=""
  seo={seo}
  ogImageUrl={ogImageUrl}
  alternatePaths={alternatePaths}
>
  <!-- service heading -->
  <section class="site-container flex w-full flex-col items-center pt-24 md:pt-36">
    <div class="bg-base-200/50 w-full rounded-xl py-20 text-center md:py-32">
      <h1 class="h1">{title}</h1>
    </div>

    <!-- service main image -->
    {
      heroImage?.asset && (
        <div class="-mt-12 max-w-[800px] overflow-hidden px-4 md:-mt-20">
          <SanityImage
            image={heroImage}
            sizesType="background"
            loading="eager"
            fetchpriority="high"
            class="max-h-[45vh] rounded-xl object-cover"
          />
        </div>
      )
    }
  </section>

  <!-- service details -->
  <section class="bg-base-200/50 my-20 py-12 md:py-20">
    <div class="markdown-content mx-auto max-w-[800px] px-4">
      <BlockRenderer blocks={blocks ?? []} />
    </div>
  </section>
</BaseLayout>
