---
import { Icon } from "astro-icon/components";
import type { SanityLinkObject } from "@components/SanityLink/SanityLink.astro";

const comparePathsWithTrailingSlash = (path1: string, path2: string): boolean => {
  const ensureTrailingSlash = (path: string): string => (path.endsWith("/") ? path : `${path}/`);
  return ensureTrailingSlash(path1) === ensureTrailingSlash(path2);
};

interface Props {
  navItem: SanityLinkObject & { icon?: string | null };
  class?: string;
  noIcon?: boolean;
}

const { navItem, class: className, noIcon = false } = Astro.props as Props;

const dest = navItem.destination?.[0];
const href =
  dest?._type === "internalLink" ? (dest.reference?.urlPath ?? "/") : (dest?.href ?? "/");
const newTab = dest?._type === "externalLink" ? (dest.openInNewTab ?? false) : false;
const text = navItem.text ?? "";

const currentPath = comparePathsWithTrailingSlash(Astro.url.pathname, href);
---

<li>
  <a
    class:list={[
      `primary-focus nav__link--base relative flex h-10 w-full items-center gap-1.5 rounded-md px-4 py-2 ${className}`,
      {
        // styling for current active page link
        "bg-primary-200": currentPath,
      },
    ]}
    href={href}
    target={newTab ? "_blank" : ""}
    rel={newTab ? "noopener noreferrer" : ""}
    aria-label={text}
  >
    {
      navItem.icon && !noIcon && (
        <Icon name={navItem.icon} aria-hidden="true" class="size-5 md:size-4" />
      )
    }
    {text}
  </a>
</li>
